.topButton{
  position: fixed;
  bottom: 3%;
  right: 2%;
  background: rgba(white,0.5);
  color: black;
  border: 1px solid black;
  transform: rotate(90deg);
  z-index: 90000;
  transition: all 1s;
  &-hide{
    opacity: 0;
  }
  &-visible{
    opacity: 1;
  }
}
