.button{
  padding: .75rem;
  background: black;
  color: white;
  border: none;
  outline: none;
  &:focus,&:active{
    outline: none;
  }
  &::-moz-focus-inner{
    border: 0;
  }
}

@media screen and (min-width: 1020px){
  .button{
    padding:1rem;
    background:black;
    color:white;
    border:none;
    transition:all .2s;
    backface-visibility:hidden;
    margin:auto;
    box-sizing:border-box;
    cursor:pointer;
    border-radius: 0;
    &:hover{
      color:black;
      background:white;
      //transform:translateY(-3px);
      box-shadow: 0 4px 5px rgba(black, .3);
    }
    &:active{
      //transform:translateY(0);
      box-shadow: 0 0 0 rgba(black, .3);
    }
    &:visited{
      color: black;
      background: white;
      box-shadow: none;
    }
  }


}