.field {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  justify-content: space-around;

  &-label {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    align-self: center;
  }

  &-input {
    border: none;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    width: 90%;
    transition: all .2s;
    align-self: center;

    &-error {
      border-bottom: 1px solid red;
    }

    &:focus {
      width: 100%;
    }
  }

  &-error {
    height: 1rem;
    font-size: 1rem;
    color: red;
    margin: .5rem;
    align-self: center;

  }
}
