
.cart-item{
  height: auto;
  width: 100%;
  margin:1rem;
  &-img{
    border-radius: 20px 20px 0 0 ;
    animation: fade .5s;
  }
  &-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background: black;
    border-radius: 0 0 20px 20px;
    &-name,&-price,&-quantity{
      color: white;
      font-size:1rem;
      margin:.75rem auto;
    }
    &-quantity{
      *{
        margin: auto 1rem;
      }
    }
  }
  &-remove{
    width: 100%;
    border-radius: 0 0 20px 20px;
  }
}

@media screen and (min-width: 1020px){
  .cart-item{
    height: auto;
    width: 20%;
  }
}

@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}