.sign-in-form {
  margin: 10% auto;
  height: 100%;
  width: 100%;
  padding: 5rem;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  align-items: center;

  .register-text{
    font-size: 1.2rem;
    margin: 2rem auto;
  }

}

@media screen and (min-width: 1020px){
  .sign-in-form{
    margin: 5% auto;
    width: 40%;
  }
}