.cart{
  position: absolute;
  top: 8%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  .panel{
    background: rgba(white,0.8);
    width: 100%;
  }
  .list{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 60%;
  }
  .totalPrice{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 1rem auto;
    &-divider{
      width: 100%;
      height: 2px;
      background-color: black;
    }
    &-text{
      font-size: 1.2rem;
      margin: 1rem auto;
    }
  }

  .buttons{

    margin: 1rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    &-checkout,&-clear{
      width: 8rem;
    }
    &-clear{
      margin-right: .5rem;
    }
    &-checkout{
      margin-left: .5rem;
    }
  }

}
