.nav{
  position: fixed;
  top: 0;
  margin: auto;
  z-index:10000;
  width: 100%;
  height: auto;
  background-color: white;
  transition: all 1s;
  padding: .5rem;
  &-brand{
    color: black;
    font-size: 1rem;
    font-family: 'Pacifico', cursive;
    font-weight: 700;
    align-self: center;
    margin-left: .3rem;
  }
  &-menu{
    display: flex;
    width: 50%;
    margin-left: auto;
    justify-content: end;
    align-items: center;
    &-desktop{
      display: none;
    }
    &-item{
      margin: auto .5rem;
      font-size: 1rem;
      color: black;
    }
    &-cartIcon{
      width: 1.8rem;
      height: 1.85rem;
      margin: .5rem;
      animation: smallToBig 1s;

    }
    &-cartCount{
      position: absolute;
      text-align: center;
      right: 4.1rem;
      top:1.78rem;
      width: 1.5rem;
      padding: .1rem .4rem;
      font-size: .65rem;
      font-weight: 700;
      color: black;
      border-radius: 1000px;
      animation: smallToBig 1s;
    }
  }
  &-expand{

    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 100%;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    //margin: 2rem;
    background: rgba(white,0);
    justify-content: space-between;
    transition: all .5s;
    animation: fade 1s;
    &-item{
      color: black;
      font-size: 1rem;
      text-decoration: none;
    }
  }

  &-toggle{
    transform: rotate(90deg) scale(.6);
    transition: none;
  }

}

@media screen and (min-width: 1020px){

  .nav{
    padding: 1.5rem .75rem;
    &-menu{
      width: 15%;
      &-item{
        margin: auto 1rem;

      }
      &-desktop{
        display: flex;
        width: 20%;
        align-items: center;
        justify-content: space-between;
        margin-left: 3rem;

      }
      &-cartIcon{
        width: 2rem;
        height: 2rem;
      }
      &-cartCount{
        right: 2.5rem;
        top: 2.7rem;
      }
    }

    &-toggle{
      display: none;
    }

  }
  
}

@keyframes smallToBig {
  0%{
    transform: scale(1.5);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes toggle-leave {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 0;
  }
}
