.nav{
  position: fixed;
  top: 0;
  margin: auto;
  z-index:10000;
  width: 100%;
  height: auto;
  background-color: rgba(white,0.85);
  transition: all 1s;
  padding: .5rem;

  &-link{
    transition: all 1s;
    &:hover{
      background: black;
      color: white;
      outline: none;
    }
    &::-moz-focus-inner{
      border: 0;
    }
    &-active{
      background: rgba(black,0.2);
      color: white;
      outline: none;
    }
  }

  &-brand{
    color: black;
    font-size: 1rem;
    font-family: 'Pacifico', cursive;
    font-weight: 700;
    align-self: center;
    margin-left: .3rem;
    outline: none;
    cursor: pointer;
    &:hover,&:active,&:focus{
      text-decoration: none;
      color: black;
      outline: none;
      border: none;
    }
    &::-moz-focus-inner{
      border: none;
      outline: none;
    }
  }
  &-menu{
    display: flex;
    max-width: 50%;
    margin-left: auto;
    justify-content: end;
    align-items: center;
    &-desktop{
      display: none;
    }
    &-item{
      text-align: center;
      margin: auto .5rem;
      font-size: 1rem;
      color: black;
      &:active{
        outline: none;
      }
      &::-moz-focus-inner{
        border: none;
      }
    }
    &-cartIcon{
      width: 1.8rem;
      height: 1.85rem;
      margin: .5rem;
      animation: smallToBig 1s;

    }
    &-cartCount{
      position: absolute;
      text-align: center;
      right: 3.97rem;
      top:1.71rem;
      width: 1.5rem;
      padding: .1rem .4rem;
      font-size: .65rem;
      font-weight: 700;
      color: black;
      border-radius: 1000px;
      animation: smallToBig 1s;
    }

  }
  &-expand{

    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100%;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    //margin: 2rem;
    background: rgba(white,0);
    justify-content: space-between;
    transition: all .5s ease-in-out;
    animation: fade 1s;
    &-item{
      color: black;
      font-size: .92rem;
      text-decoration: none;
    }
  }

  &-toggle{
    transform: rotate(90deg) scale(.6);
    transition: none;
  }
  &-visible{
    transform: translateY(-100px);
  }
  &-hidden{
    transform: translateY(0);
  }

}

@media screen and (min-width: 1020px){

  .nav{
    padding: .2rem .5rem;
    &-menu{
      max-width: 15%;
      &-item{
        margin: auto 1rem;

      }
      &-desktop{
        display: flex;
        width: 20%;
        align-items: center;
        justify-content: space-between;
        margin-left: 3rem;

      }
      &-cartIcon{
        width: 2rem;
        height: 2rem;
      }
      &-cartCount{
        right: 2.27rem;
        top: 1.4rem;
      }
    }

    &-toggle{
      display: none;
    }

  }
  
}

@keyframes smallToBig {
  0%{
    transform: scale(1.5);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
