.sign-up-form {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  height: auto;
  width:100%;
  padding: 3rem 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-name, &-email, &-password {
    width: 80%;
  }
}


@media screen and (min-width: 1020px){
  .sign-up-form{
    width: 50%;
  }
  &-name, &-email, &-password {
    width: 40%;
  }
}