.sidebar-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  text-align: center;

  &-heading {
    margin: 2rem;

  }

  &-item {
    margin: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
  }
}